.tablelist {
    margin: 0;
    margin-top: calc(-1 * var(--margin-between-paragraphs));
    padding: 0 2.8rem 0 2.8rem;
    .label {
        width: 11rem;
        display: inline-flex;
    }
    .value {
        width: calc(100% - 11rem);
        display: inline-flex;
    }
}