:root {
  --color-black: #151515;
  --color-beige: #F6F4EE;
  --color-beige-dark: #F2EFE9;
  --theme-color: var(--color-beige);
  --color-body-background: var(--theme-color);
  --theme-color-contrary: var(--color-black);
  --color-text: var(--color-black);
  --color-background-main-page-about-me: #f2efe9;

  @media (prefers-color-scheme: dark) {
    --theme-color: var(--color-black);
    --theme-color-contrary: var(--color-beige);
    --color-text: var(--color-beige);
    --color-background-main-page-about-me: #121212;
  }
}
