:root {
  --font-primary: 'Maitree', serif;
  // Fonts in use for content
  --font-family-paragraph: var(--font-primary);
  --font-family-nav: var(--font-primary);
  --font-family-h1: var(--font-primary);
}
