:root {
  --font-size-paragraph: 1.6rem;
  --font-size-h1: 2.4rem;
  --font-size-nav: 1.8rem;
  // Line-heights
  --line-height-paragraph: 2.6rem;
  --line-height-h1: 4rem;
  --line-height-nav: 100%;

  // Font weights
  --font-weight-regular: 400;
  --font-weight-h1: var(--font-weight-regular);
  --font-weight-paragraph: var(--font-weight-regular);
  --font-weight-nav: var(--font-weight-regular);

  // Responsive font sizes 
  @media (max-width: $width-min-m) {
    --font-size-paragraph: 1.6rem;
    --font-size-h1: 2.2rem;
    --font-size-nav: 1.6rem;
  }
  @media (max-width: $width-min-s) {
    --font-size-h1: 2rem;
  }
}