// CSS Variables for responsive paddings and margins
$gap-s: 0.8rem;
$gap-m: 1.6rem;
$gap-l: 2.4rem;



:root {
    --page-max-width: 1032px;
    // Gaps
    --gap-s: #{$gap-s};
    --gap-m: #{$gap-m};
    --gap-l: #{$gap-l};
    
    --site-padding-top: 3.2rem;
    --site-padding-bottom: 4.6rem;
    --margin-top-main-content: 2.4rem;

    --site-padding-horizontal-l: 8rem;
    --site-padding-horizontal-m: 4rem;
    --site-padding-horizontal-s: 2rem;

    --site-padding-horizontal: var(--site-padding-horizontal-s);
    --gap: var(--gap-s);
    --grid-gap: var(--gap);
    @media( min-width: $width-min-m ) {
        --site-padding-vertical: 3.2rem;
        --gap: var(--gap-m);
        --site-padding-horizontal: var(--site-padding-horizontal-m);
        --margin-top-main-content: 3.2rem;
    }
    @media( min-width: $width-min-l ) {
        --gap: var(--gap-l);
        --site-padding-horizontal: var(--site-padding-horizontal-l);
        --margin-top-main-content: 4.8rem;
    }
    // margins for font
    --margin-between-paragraphs: 1.2rem;
    --margin-bottom-h1: 1.6rem;
    --margin-top-h1: 1.6rem;
    @media(max-width: $width-min-m) {
        --margin-between-paragraphs: 1rem;
        --margin-bottom-h1: 1.2rem;
    }
}
