body.index {
    --_site-title-margin: 5.6rem 0 5.4rem 0;
    --_title-font-size: 2.8rem;
    --_name-font-size: 2.3rem;
    --_contact-font-size: 2.1rem;
    --_font-size-bottom: 1.9rem;
    --_margin-bottom: 0; 
    --_margin-contact: 12rem;
    --_mobile-margin-top: 2.4rem;
    @media (max-width: $width-min-m) {
        --_site-title-margin: 4.8rem 0 4.8rem 0;
        --_title-font-size: 2.6rem;
        --_name-font-size: 2.2rem;
        --_contact-font-size: 2rem;
        --_font-size-bottom: 1.8rem;
        --_margin-bottom: 2.4rem; 
        --_margin-contact: 8.8rem;
    }
    @media (max-width: $width-min-s) {
        --_site-title-margin: 2.4rem 0 2.4rem 0;
        --_title-font-size: 2.4rem;
        --_name-font-size: 1.8rem;
        --_contact-font-size: 1.6rem;
        --_font-size-bottom: 1.6rem;
        --_margin-bottom: 2.4rem; 
        --_margin-contact: 6rem;
    }
    @media (max-width: $width-min-m) {
        // --site-padding-top: 0;
        #main-nav {
            display: none;
        }
    }
    #page {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        gap: 0;
        margin: auto;
        @media (max-width: $width-min-s) {
            margin: auto;
        }
        > * {
            text-align: center;
            margin: 0 auto;
        }
        .top {
            .branches-image {

                @media (max-width: $width-min-m) {
                    // display: none;
                    margin-top: .8rem;
                }
            }
            h1 {
                margin: var(--_site-title-margin);
                font-size: var(--_title-font-size);
                line-height: calc(var(--_title-font-size) + 8px);
            }
            .me {
                display: flex;
                flex-direction: column;
                gap: calc(var(--gap) + 1rem);
                margin-bottom: var(--_margin-contact);
                p {
                    margin: 0;
                }
                .name {
                    font-size: var(--_name-font-size);
                }
                .contact, .contact > * {
                    font-size: var(--_contact-font-size);
                }
            }
        }
        .bottom {
            display: flex;
            flex-direction: column;
            gap: 2.2rem;
            margin-bottom: var(--_margin-bottom);
            > * {
                font-size: var(--_font-size-bottom);
            }
            p {
                margin: 0;
            }
        }
        @media (max-width: $width-min-m) {
            p {
                --margin-between-paragraphs: .8rem;
            }
        }
    }
    .about-me {
        // mobile
        background-color: var(--color-background-main-page-about-me);
        margin: 0 calc(-1 * var(--site-padding-horizontal));
        padding: var(--_mobile-margin-top) var(--site-padding-horizontal) ;
        .image {
            margin-top: var(--_mobile-margin-top);
            max-width: 24rem;
            margin-left: auto;
            margin-right: auto;
        }
        p, span, a { text-align: left };

    }
    .about-med {
        padding-top: var(--_mobile-margin-top);
        p, span, a { text-align: left };
    }
}