body.index {
    --_site-title-margin: 5.6rem 0 5.4rem 0;
    --_title-font-size: 2.9rem;
    --_name-font-size: 2.4rem;
    --_contact-font-size: 2.2rem;
    --_font-size-bottom: 2rem;
    --_margin-bottom: 8.8rem; 
    --_margin-contact: 13.8rem;
    @media (max-width: $width-min-m) {
        --_site-title-margin: 4.8rem 0 4.8rem 0;
        --_title-font-size: 2.6rem;
        --_name-font-size: 2.2rem;
        --_contact-font-size: 2rem;
        --_font-size-bottom: 1.8rem;
        --_margin-bottom: 6rem; 
        --_margin-contact: 8.8rem;
    }
    @media (max-width: $width-min-s) {
        --_site-title-margin: 2.4rem 0 2.4rem 0;
        --_title-font-size: 2.4rem;
        --_name-font-size: 1.8rem;
        --_contact-font-size: 1.6rem;
        --_font-size-bottom: 1.6rem;
        --_margin-bottom: 1.2rem; 
        --_margin-contact: 6rem;
    }
    @media (max-width: $width-min-m) {

        #main-nav {
            display: none;
        }
    }
    #page {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        gap: 0;
        margin-top: auto;
        @media (max-width: $width-min-s) {
            margin: auto;
        }
        > * {
            text-align: center;
            margin: 0 auto;
        }
        .top {
            .branches-image {

                @media (max-width: $width-min-m) {
                    display: none;
                }
            }
            h1 {
                margin: var(--_site-title-margin);
                font-size: var(--_title-font-size);
                line-height: calc(var(--_title-font-size) + 8px);
            }
            .me {
                display: flex;
                flex-direction: column;
                gap: var(--gap);
                margin-bottom: var(--_margin-contact);
                .name {
                    font-size: var(--_name-font-size);
                }
                .contact, .contact > * {
                    font-size: var(--_contact-font-size);
                }
            }
        }
        .bottom {
            display: flex;
            flex-direction: column;
            gap: .8rem;
            margin-bottom: var(--_margin-bottom);
            > * {
                font-size: var(--_font-size-bottom);
            }
        }
    }
    .about-me {
        // mobile
        background-color: var(--color-background-main-page-about-me);
        margin: 0 calc(-1 * var(--site-padding-horizontal));
        padding: 2.4rem var(--site-padding-horizontal);
    }
    .about-med {
        padding-top: 2.4rem;
    }
}