---
import { getEntry, render } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import { SEO } from "astro-seo";

let entry = await getEntry('pages', 'o-medycynie-chinskiej');
if(!entry) {
	throw 'Entry missing: O medycynie chińskiej'
}
let {Content} = await render(entry);
---
<PageLayout bodyClass="about-ccm text-image">
	<SEO noindex={true} slot="seo" />	
	<Fragment slot="main">
		<div class="grid-content">
			<div class="text">
				<Content />
			</div>
			<div class="image">
			</div>
		</div>
	</Fragment>
</PageLayout>