---
import { NAV_ITEMS } from "../config";

---
<header>
    <div id='main-nav' class="nav">
        {
            NAV_ITEMS.map(i => {
                return (
                    <a class="font-nav" aria-label={`Przejdź do strony ${i.name}`} href={i.slug}>{i.name}</a>
                )
            })
        }
    </div>
</header>