// Styling background-images
// For custom sized image background, use: class="image image-background"
// For bg as layer, use: class="image image-background image-background-layer"
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}